{% extends '::base.html.twig' %}
{% block body %}
    {% if cptes is not empty %}
    <table border="2" width="60%" align="center" >
        <caption>Listes des comptes</caption>
        <thead>
        <tr>
            <th>Numéro de compte</th>
            <th>solde</th>
            <th>date création</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for compte in cptes  %}
                <tr>
                    <td>{{ compte.numero }}</td>
                    <td>{{ compte.solde }}</td>
                    <td>{{ compte.dateCreation }}</td>
                </tr>


            {% endfor %}
        </tbody>


    </table>
        {% else %}
        La liste des comptes est vide
        {% endif %}

{% endblock  %}