<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% javascripts 
            "%kernel.root_dir%/Resources/assets/js/*" 
            "%kernel.root_dir%/Resources/assets/bower_components/jquery/dist/jquery.min.js" 
            "%kernel.root_dir%/Resources/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"             
        output='assets/js/compiled/main.js' %}
            <script src="{{ asset('assets/js/main.js') }}" type="text/javascript"></script>
        {% endjavascripts %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
