{% extends '::base.html.twig' %}
{% block body %}
    <form id="formAdd" action="{{ path('saveOperation') }}" method="post">
        <table>
            <tr>

                <td><label for="comptes">Compte</label></td>

                <td><select id="comptes" name="compteId" required="required">
                        {% for c in comptes %}
                            <option value="{{ c.id }}">{{ c.rib }}</option>
                        {% endfor %}
                    </select></td>


            </tr>
            <tr>
                <td><label for="type">Type :</label></td>
                <td><select id="type" name="type" required="required">
                        <option value="debit">Débit</option>
                        <option value="credit">Crédit</option>
                    </select></td>
            </tr>
            <tr>
                <td><label for="montnat">Montant :</label></td>
                <td><input id="montnat" name="montant" type="number"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Valider</button>
                </td>
            </tr>
        </table>

    </form>
{% endblock %}