{% extends '::base.html.twig' %}
{% block body %}
    <form id="formAdd" action="{{ path('updateCompte',{id:compte.id} ) }}" method="post">
        <table>
            <tr>
                <td><label for="ribValue">Rib :</label></td>
                <td><input id="ribValue" value="{{ compte.rib }}" name="rib" type="text" required="required"/></td>
            </tr>
            <tr>
                <td><label for="soldeValue">Solde :</label></td>
                <td><input id="soldeValue" value="{{ compte.solde }}" name="solde" type="number"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Valider</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

